<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="deviceId" value="ciotola1"/>
    <add key="deviceKey" value="75hppBRXr/lI37ebFhZAMQNi7Clci2uQeppGbkt1qik="/>
    <add key="transportType" value="Mqtt_WebSocket_Only"/>
    <add key="hostName" value="CiotolaHub.azure-devices.net"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>